!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blog

  %body
    = render 'shared/header'
    .container
      = yield
    = render 'shared/footer'





